<ul class="nav navbar-nav navbar-right" ng-controller="modules.room.controllers.bar as ctl">
    <li>
        <span class="badge badge-danger message-number">2</span>
        <a href="" ng-click="ctl.checkIn()">
            <i class="fa fa-address-card fa-fw message-icon"></i>登记</a>
    </li>
    <li>
        <span class="badge badge-danger message-number">2</span>
        <a href="" ng-click="ctl.openMessage('room')">
            <i class="fa fa-bed fa-fw message-icon" aria-hidden="true"></i>房态</a>
    </li>
    <li>
        <span class="badge badge-danger message-number">99</span>
        <a href="" ng-click="ctl.openMessage('message')">
            <i class="fa fa-envelope fa-fw message-icon" aria-hidden="true"></i>信息</a>
    </li>
    <li>
        <span class="badge badge-danger message-number">2</span>
        <a href="" ng-click="ctl.openMessage('call')">
            <i class="fa fa-bell fa-fw message-icon" aria-hidden="true"></i>呼叫</a>
    </li>
    <li>
        <a></a>
    </li>
</ul>