<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h3 class="modal-title">房间控制</h3>
    </div>
    <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="panel-title">
                    <i class="fa fa-thermometer-half" aria-hidden="true"></i> 温控</label>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="text-center">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-power-off fa-3x fa-fw" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="text-center">
                                    <span class="form-control-static">开关</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="text-center">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-snowflake-o fa-3x fa-fw" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="text-center">
                                    <span class="form-control-static">模式</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="text-center">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-lock fa-3x fa-fw" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="text-center">
                                    <span class="form-control-static">锁定</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="text-center">
                                    <button class="btn btn-primary">
                                        <span class="fa fa-3x fa-fw" aria-hidden="true">x2</span>
                                    </button>
                                </div>
                                <div class="text-center">
                                    <span class="form-control-static">风速</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="text-center">
                                    <button class="btn btn-primary">
                                        <span class="fa fa-3x fa-fw" aria-hidden="true">20</span>
                                    </button>
                                </div>
                                <div class="text-center">
                                    <span class="form-control-static">实时温度</span>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="text-center">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default">
                                                <i class="fa fa-minus fa-3x" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <input class="form-control" style="height: 56px" />
                                        <div class="input-group-btn">
                                            <button class="btn btn-default">
                                                <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <span class="form-control-static">设定温度</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="panel-title">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i> 灯光</label>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center">
                                    <button class="btn btn-default">
                                        <i class="fa fa-lightbulb-o fa-3x fa-fw" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="text-center">
                                    <span class="form-control-static">走廊灯</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-center">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-lightbulb-o fa-3x fa-fw" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="text-center">
                                    <span class="form-control-static">走廊灯</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary">
                                                <i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="form-control" style="padding: 27px 10px; vertical-align: middle">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <span class="form-control-static">房灯1</span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="text-center">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary">
                                                <i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="form-control" style="padding: 27px 10px; vertical-align: middle">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <span class="form-control-static">房灯2</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>