<table class="table">
    <colgroup>
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
    </colgroup>
    <thead>
        <tr>
            <th></th>
            <th>动画显示</th>
            <th>消息弹出</th>
            <th>语音提示</th>
            <th>播放次数</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><label class="form-control-static">请求清理</label></td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                    </div>
                    <input class="form-control" type="number" />
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label class="form-control-static">呼叫服务</label></td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                    </div>
                    <input class="form-control" type="number" />
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label class="form-control-static">退房预告</label></td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                    </div>
                    <input class="form-control" type="number" />
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label class="form-control-static">紧急呼叫</label></td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                    </div>
                    <input class="form-control" type="number" />
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </div>
            </td>
        </tr>
        <!--房门异常-->
        <tr>
            <td rowspan="2"><label class="form-control-static">房门异常</label></td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                    </div>
                    <input class="form-control" type="number" />
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="form-inline">
                    <label>有效时段</label>
                    <div class="input-group">
                        <input class="form-control" type="text" disabled/>
                        <div class="input-group-btn">
                            <button class="btn btn-default">选择</button>
                        </div>
                    </div>
                    <div class="input-group">
                        <input class="form-control" type="text" disabled/>
                        <div class="input-group-btn">
                            <button class="btn btn-default">选择</button>
                        </div>
                    </div>
                </div>
            </td>
            <td colspan="2">
                <div class="form-inline">
                    <label>延时时间</label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                        </div>
                        <input class="form-control" type="number" />
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <!--温度异常-->
        <tr>
            <td rowspan="2"><label class="form-control-static">温度异常</label></td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                    </div>
                    <input class="form-control" type="number" />
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="form-inline">
                    <label>夏季高温</label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                        </div>
                        <input class="form-control" type="number" />
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                </div>
            </td>
            <td colspan="2">
                <div class="form-inline">
                    <label>冬季低温</label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                        </div>
                        <input class="form-control" type="number" />
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <!---->
        <tr>
            <td rowspan="2"><label class="form-control-static">消防告警</label></td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div switch></div>
            </td>
            <td>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                    </div>
                    <input class="form-control" type="number" />
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="form-inline">
                    <label>消防温度</label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                        </div>
                        <input class="form-control" type="number" />
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                </div>
            </td>
            <td colspan="2">

            </td>
        </tr>
    </tbody>
</table>