<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
        <h3 class="modal-title">设备模式</h3>
    </div>
    <div class="modal-body">
        <form name="form" role="form">
            <div class="form-group" ng-class="{'has-error':form.Name.$invalid}">
                <div>
                    <label>名称</label>
                    <span class="text-danger pull-right" ng-show="form.Name.$invalid">*名称不能为空</span>
                </div>
                <div>
                    <input class="form-control" name="Name" ng-model="$data.Name" placeholder="输入名称" required/>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':form.Mode.$invalid}">
                <div>
                    <label>预设类型</label>
                    <span class="text-danger pull-right" ng-show="form.Mode.$invalid">*模式不能为空</span>
                </div>
                <div>
                    <select class="form-control" type="text" name="Mode" ng-model="$data.Mode" required>
                        <option>空调</option>
                        <option>窗帘</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':form.RoleId.$invalid}">
                <div>
                    <label>预设值</label>
                    <span class="text-danger pull-right" ng-show="form.Temperature.$invalid">*预设不能为空</span>
                </div>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                    </div>
                    <input class="form-control" type="number" name="Temperature" ng-model="$data.Temperature" required />
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':form.RoleId.$invalid}">
                <div>
                    <label>预设时间</label>
                    <span class="text-danger pull-right" ng-show="form.Temperature.$invalid">*预设不能为空</span>
                </div>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                    </div>
                    <input class="form-control" type="number" name="Time" ng-model="$data.Time" required />
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close($data)" ng-disabled="form.$invalid"><i class="glyphicon glyphicon-ok-sign"></i> 确定</button>
        <button class="btn btn-default" ng-click="$dismiss()"><i class="glyphicon glyphicon-remove-sign"></i> 取消</button>
    </div>
</div>