<div ng-controller="modules.room.controllers.parameterSettings as me">
    <div class="navbar navbar-default navbar-static-top" style="margin: 0">
        <ul class="nav navbar-nav" role="tablist">
            <li role="presentation" class="active"><a href="#settings_room" aria-controls="settings_room" role="tab" data-toggle="tab"><strong>房态显示</strong></a></li>
            <li role="presentation"><a href="#settings_call" aria-controls="settings_call" role="tab" data-toggle="tab"><strong>呼叫设置</strong></a></li>
            <!-- <li role="presentation"><a href="#settings_device" aria-controls="settings_device" role="tab" data-toggle="tab"><strong>设备模式</strong></a></li> -->
        </ul>
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 保存</button>
                    </div>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane container-fluid active" id="settings_room" ng-include="'views/room/settings/RoomStatus.html'"></div>
        <div role="tabpanel" class="tab-pane content" id="settings_call" ng-include="'views/room/settings/AlertStatus.html'" style="margin-top: 50px"></div>
        <!-- <div role="tabpanel" class="tab-pane container-fluid content" id="settings_device" ng-include="'views/room/settings/Device.html'"
            style="margin-top: 50px"></div> -->
    </div>
</div>