<div class="row">
    <div class="col-md-6">
        <h4 class="page-header"><i class="glyphicon glyphicon-cog"></i> 房门</h4>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">房门状态</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="DoorStatusEnabeld"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--保险箱-->
    <div class="col-md-6">
        <h4 class="page-header"><i class="glyphicon glyphicon-cog"></i> 保险箱</h4>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">保险箱状态</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="StrongStatusEnabeld"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <!--服务请求-->
        <h4 class="page-header"><i class="glyphicon glyphicon-cog"></i> 服务请求</h4>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">请勿打扰</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="StrongStatusEnabeld"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">请求打扫</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="StrongStatusEnabeld"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">退房预约</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="StrongStatusEnabeld"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">呼叫请求</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="StrongStatusEnabeld"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <!--告警-->
        <h4 class="page-header"><i class="glyphicon glyphicon-cog"></i> 告警设置</h4>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">紧急呼叫</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="StrongStatusEnabeld"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">房门异常</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="StrongStatusEnabeld"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">温度异常</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="StrongStatusEnabeld"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-control-static">消防警告</label>
                    </div>
                    <div class="col-md-7">
                        <div switch ng-model="StrongStatusEnabeld"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--其他-->
<h4 class="page-header"><i class="glyphicon glyphicon-cog"></i> 其他</h4>
<div class="row">
    <div class="form-group col-md-3">
        <div class="row">
            <div class="col-md-5">
                <label class="form-control-static">显示房间状态</label>
            </div>
            <div class="col-md-7">
                <div switch ng-model="StrongStatusEnabeld"></div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="row">
            <div class="col-md-5">
                <label class="form-control-static">显示身份识别</label>
            </div>
            <div class="col-md-7">
                <div switch ng-model="StrongStatusEnabeld"></div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="row">
            <div class="col-md-5">
                <label class="form-control-static">显示房间温度</label>
            </div>
            <div class="col-md-7">
                <div switch ng-model="StrongStatusEnabeld"></div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="row">
            <div class="col-md-5">
                <label class="form-control-static">显示房间风速</label>
            </div>
            <div class="col-md-7">
                <div switch ng-model="StrongStatusEnabeld"></div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="row">
            <div class="col-md-5">
                <label class="form-control-static">显示通讯中断</label>
            </div>
            <div class="col-md-7">
                <div switch ng-model="StrongStatusEnabeld"></div>
            </div>
        </div>
    </div>
</div>