<!DOCTYPE html>
<!--[if lte IE 8]><html lang="zh-cn" data-html-type="no-js lte-ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-cn" data-html-type="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/mobile.css" rel="stylesheet" />
</head>

<body ui-view style="overflow:hidden">
    <script>
        window.required = [
            'modules.manageui.module',
            'modules.mobileui.module',
            'modules.setting.module'
        ];
    </script>
    <script id="app" src="js/require.min.js" data-main="main.js" data-args="v=2.0.0" data-debug="true" data-server="/backend">
    </script>
</body>

</html>