<div class="panel panel-info">
    <div class="panel-heading" ng-show="!current.Floor">
        <span class="panel-title">请选择楼层</span>
    </div>
    <div class="panel-heading" ng-show="current.Floor">
        <span class="panel-title">{{current.BuildName}} - {{current.Floor}} 层</span>
    </div>
    <!-- <div class="navbar navbar-default navbar-static-top" ng-show="current.Floor" style="margin:0">
        <div class="container-fluid">
            <div class="navbar-collapse collapsed">
                <div class="navbar-form navbar-right">
                    <button class="btn btn-default" ng-click="roomController.add()"><i class="glyphicon glyphicon-plus-sign"></i> 添加</button>
                </div>
            </div>
        </div>
    </div> -->
    <div class="table-condensed">
        <table ng-table="roomController.tableParams" class="table table-striped table-hover" ng-show="current.Floor">
            <colgroup>
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col width="64px" />
            </colgroup>
            <tr ng-repeat="row in $data">
                <td title="'房间号'"></td>
                <td title="'房间类型'"></td>
                <td title="'本机IP'"></td>
                <td title="'本机MAC'"></td>
                <td title="'本机端口'"></td>
                <td title="'上位机IP'"></td>
                <td title="'上位机端口'"></td>
                <td title="'子网掩码'"></td>
                <td title="'网关'"></td>
                <td title="'操作'">
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div ng-pager="roomController.tableParams"></div>
</div>