<!DOCTYPE html>
<!--[if lte IE 8]><html lang="zh-cn" data-html-type="no-js lte-ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-cn" data-html-type="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/manage.css" rel="stylesheet" />
    <!--     <link href="css/cropper.min.css" rel="stylesheet" />     -->
    <link theme path="css" normal="theme-dark" />
    <script id="app" src="js/require.min.js" data-main="main.js" data-args="v=2.1.4" data-debug="true" data-server="/backend" data-index="main.roomhome"></script>
</head>

<body ui-view style="overflow:hidden">

</body>

</html>