<div>
    <div class="panel-body">
        <div>
            <div class="col-xs-4 panel-body">
                <button class="btn btn-lg btn-default btn-block">301 <i class="fa fa-lock fa-fw"></i></button>
            </div>
            <div class="col-xs-4 panel-body">
                <button class="btn btn-lg btn-success btn-block">301 <i class="fa fa-unlock fa-fw"></i></button>
            </div>
            <div class="col-xs-4 panel-body">
                <button class="btn btn-lg btn-default btn-block">301 <i class="fa fa-lock fa-fw"></i></button>
            </div>
            <div class="col-xs-4 panel-body">
                <button class="btn btn-lg btn-success btn-block">301 <i class="fa fa-unlock fa-fw"></i></button>
            </div>
            <div class="col-xs-4 panel-body">
                <button class="btn btn-lg btn-success btn-block">301 <i class="fa fa-unlock fa-fw"></i></button>
            </div>
            <div class="col-xs-4 panel-body">
                <button class="btn btn-lg btn-default btn-block">301 <i class="fa fa-lock fa-fw"></i></button>
            </div>
            <div class="col-xs-4 panel-body">
                <button class="btn btn-lg btn-default btn-block">301 <i class="fa fa-lock fa-fw"></i></button>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div>
            <div class="pull-left text-center" style="width: 20%">
                <h4><a href=""><i class="glyphicon glyphicon-blackboard"></i> </a></h4>
            </div>
            <div class="pull-left text-center" style="width: 20%">
                <h4><a href=""><i class="glyphicon glyphicon-book"></i> </a></h4>
            </div>
            <div class="pull-left text-center" style="width: 20%">
                <h4><a href=""><i class="glyphicon glyphicon-plus"></i> </a></h4>
            </div>
            <div class="pull-left text-center" style="width: 20%">
                <h4><a href=""><i class="glyphicon glyphicon-road"></i> </a></h4>
            </div>
            <div class="pull-left text-center" style="width: 20%">
                <h4><a href=""><i class="glyphicon glyphicon-asterisk"></i> </a></h4>
            </div>
        </div>
    </div>
</div>