<div class="layout" ng-controller="modules.mobileui.controllers.hotel as me">
    <div class="hotel-logo">
        <div class="hotel-title text-center">
            <div>酒店智能化/家居智能化/公共区域智能化/智能化系统集成</div>
            <div>Hotel Intelligence/Intelligence home/Intelligence public area</div>
        </div>
    </div>
    <div class="hotel-content container-fluid row">
        <div class="col-xs-4">
            <a class="panel-body text-center" ng-href="#/mobilemain/air">
                <div>
                    <img src="/mobile/images/空调.png" width="60%" />
                </div>
                <div class="form-control-static">空调</div>
            </a>
        </div>
        <div class="col-xs-4">
            <a class="panel-body text-center" ng-href="#/mobilemain/light">
                <div>
                    <img src="/mobile/images/灯光.png" width="60%" />
                </div>
                <div class="form-control-static">灯光</div>
            </a>
        </div>
        <div class="col-xs-4">
            <a class="panel-body text-center" ng-href="#/mobilemain/curtains">
                <div>
                    <img src="/mobile/images/窗帘.png" width="60%" />
                </div>
                <div class="form-control-static">窗帘</div>
            </a>
        </div>
        <div class="col-xs-4">
            <a class="panel-body text-center" ng-href="#/mobilemain/tv">
                <div>
                    <img src="/mobile/images/电视.png" width="60%" />
                </div>
                <div class="form-control-static">电视</div>
            </a>
        </div>
        <!-- <div class="col-xs-4">
            <a class="panel-body text-center" ng-href="#/mobilemain/music">
                <div>
                    <img src="../images/音乐.png" />
                </div>
                <div class="form-control-static">音乐</div>
            </a>
        </div> -->
        <div class="col-xs-4">
            <a class="panel-body text-center" ng-href="#/service">
                <div>
                    <img src="/mobile/images/服务.png" width="60%" />
                </div>
                <div class="form-control-static">服务</div>
            </a>
        </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-nav text-center">
                <a class="navbar-btn" ng-href="#/index"><i class="fa fa-times fa-fw fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>