<div ng-controller="modules.room.controllers.users as me">
    <div class="navbar navbar-default navbar-static-top" style="margin: 0">
        <div class="navbar-form pull-right">
            <button class="btn btn-default" ng-click="me.add()"><i class="glyphicon glyphicon-plus-sign"></i> 添加</button>
        </div>
    </div>
    <table ng-table="me.tableParams" class="table table-striped table-hover">
        <colgroup>
            <col width="100px" />
            <col />
            <col />
            <col width="64px" />
        </colgroup>
        <tr ng-repeat="row in me.list">
            <td title="'序号'">{{row.Number}}</td>
            <td title="'人员名'">{{row.Name}}</td>
            <td title="'人员类别'">{{row.RoleName}}</td>
            <td title="'操作'">
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-default" ng-click="me.edit(row.Id)"><i class="glyphicon glyphicon-pencil"></i></button>
                    <button class="btn btn-danger" ng-click="me.delete(row.Id)"><i class="glyphicon glyphicon-trash"></i></button>
                </div>
            </td>
        </tr>
    </table>
</div>