<div class="loginbg">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div name="form" class="modal-body">
                <div class="panel-body text-center">
                    <img width="120px" src="./images/profile_small.jpg" class="img-circle" />
                </div>
                <form class="container-fluid" role="form">
                    <div class="form-group text-center">
                        <span class="form-control-static">用户名</span>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="password" class="form-control" placeholder="密码" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary col-md-12" ng-disabled="form.$invalid" ng-click="me.login()">解锁</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>