<div ng-controller="modules/room/components/rcu/rcu as rcu" ng-init="rcu.load()" style="overflow: auto">
  <div class="navbar navbar-default navbar-static-top" style="margin: 0">
    <div class="navbar-left">
      <ul class="nav navbar-nav" role="tablist">
        <li role="presentation" class="active" ng-click="changeType('rcu_project')">
          <a href="#rcu_project" aria-controls="rcu_project" role="tab" data-toggle="tab">
            <strong>工程设置</strong>
          </a>
        </li>
        <li role="presentation" ng-click="changeType('rcu_param')">
          <a href="#rcu_param" aria-controls="rcu_param" role="tab" data-toggle="tab">
            <strong>参数设置</strong>
          </a>
        </li>
        <li role="presentation" ng-click="changeType('rcu_time')">
          <a href="#rcu_time" aria-controls="rcu_time" role="tab" data-toggle="tab">
            <strong>时间设置</strong>
          </a>
        </li>
      </ul>
    </div>
    <div class="navbar-form navbar-right">
      <div class="container-fluid">
        <button class="btn btn-default" ng-click="rcu.upgrade()">
          <i class="glyphicon glyphicon-open"></i> 升级
        </button>
        <button class="btn btn-default" ng-click="rcu.reset()">
          <i class="glyphicon glyphicon-repeat"></i> 复位
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body row">
    <!-- <div class="col-md-3" ng-controller="modules.room.controllers.rooms" ng-init="$controller.load()"> -->
    <div class="col-md-3">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" ng-repeat="build in builds">
          <div class="panel-heading" role="tab">
            <span class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" ng-href="{{'#buildrcu_' + build.buildingId}}" aria-expanded="true">{{build.buildingName}}</a>
            </span>
          </div>
          <div id="{{'buildrcu_' + build.buildingId}}" class="panel-collapse collapse" ng-class="{'in':$index===0}" role="tabpanel">
            <div class="panel-body">
              <div class="container-fluid row">
                <button type="button" class="btn btn-success col-md-3" ng-class="{'active':rcu.current.id===floor.id}" ng-repeat="floor in build.floors|floorFilter:'0'" ng-click="rcu.select(floor)">{{floor.floorname}}</button>
              </div>
              <hr>
              <div class="container-fluid row">
                <button type="button" class="btn btn-success col-md-3" ng-class="{'active':rcu.current.id===floor.id}" ng-repeat="floor in build.floors|floorFilter:'1'" ng-click="rcu.select(floor)">{{-floor.floorname}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="rcu_project" ng-include="'modules/room/components/rcu/project.html'">
        </div>
        <div role="tabpanel" class="tab-pane" id="rcu_param" ng-include="'modules/room/components/rcu/parameters.html'">
        </div>
        <div role="tabpanel" class="tab-pane" id="rcu_time" ng-include="'modules/room/components/rcu/timeSettings.html'"></div>
      </div>
    </div>
  </div>
</div>