<div ng-controller="modules.room.controllers.identitySettings as me" ng-init="me.load()">
    <div class="navbar navbar-default navbar-static-top" style="margin: 0">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-left" style="padding-left: 0">
                    <div class="form-group"> 取电开关类型：
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">红外感应</button>
                            <button type="button" class="btn btn-default">TIMIC</button>
                            <button type="button" class="btn btn-default">MIFARE</button>
                        </div>
                    </div>
                </form>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 保存</button>
                    </div>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <form name="listform" role="form" style="position: absolute; top:50px; bottom: 0; left: 0; right: 0; overflow: auto">
        <table ng-table="me.tableParams" class="table" style="margin: 0">
            <colgroup>
                <col />
                <col />
                <col />
                <col />
                <col />
                <col width="50px" />
            </colgroup>
            <tr ng-repeat="row in $data">
                <td title="'取电开关'">{{row.onoffType}}</td>
                <td title="'卡类型号'">{{row.cardType}}</td>
                <td title="'类型名称'">{{row.typeName}}</td>
                <td title="'图像'">{{row.Img}}</td>
                <td title="'身份描述'">{{row.iddetail}}</td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-danger" type="button" ng-click="me.drop(row)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </div>
                </td>
                <!-- <td title="'取电开关'">
                    <select class="form-control input-sm" ng-model="row.onoffType" ng-options="def for def in me.onoffTypes"></select>
                </td>
                <td title="'卡类型号'">
                    <input type="text" class="form-control input-sm" ng-model="row.cardType" />
                </td>
                <td title="'类型名称'">
                    <input type="text" class="form-control input-sm" ng-model="row.typeName" />
                </td>
                <td title="'图像'">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control input-sm" ng-model="row.Img" />
                        <div class="input-group-btn">
                            <button class="btn btn-default" ng-click="me.selectImage(row)">选择</button>
                        </div>
                    </div>
                </td>
                <td title="'身份描述'">
                    <input type="text" class="form-control input-sm" ng-model="row.iddetail" />
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-danger" type="button" ng-click="me.drop(row)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </div>
                </td> -->
            </tr>
            <tr>
                <td title="'取电开关'">
                    <select class="form-control input-sm" ng-model="me.newItem.onoffType" ng-options="def for def in me.onoffTypes"></select>
                </td>
                <td title="'卡类型号'">
                    <input type="text" class="form-control input-sm" ng-model="me.newItem.cardType" />
                </td>
                <td title="'类型名称'">
                    <input type="text" class="form-control input-sm" ng-model="me.newItem.typeName" />
                </td>
                <td title="'图像'">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control input-sm" ng-model="me.newItem.Img" />
                        <div class="input-group-btn">
                            <button class="btn btn-default" ng-click="me.selectImage()">选择</button>
                        </div>
                    </div>
                </td>
                <td title="'身份描述'">
                    <input type="text" class="form-control input-sm" ng-model="me.newitem.iddetail" />
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-success" type="button" ng-disabled="newform.$invalid" ng-click="me.add()">
                            <i class="glyphicon glyphicon-ok"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div ng-pager="me.tableParams"></div>
                    </td>
                </tr>
            </tfoot>
        </table>

    </form>
    <form name="newform" role="form">
        <input type="hidden" required ng-model="me.newItem.onoffType">
        <input type="hidden" required ng-model="me.newItem.cardType" />
        <input type="hidden" required ng-model="me.newItem.typeName" />
        <input type="hidden" ng-model="me.newItem.Img" />
        <input type="hidden" required ng-model="me.newitem.iddetail" />
    </form>
</div>