<div ng-controller="modules.room.controllers.mode as me">
  <div class="navbar navbar-default navbar-static-top" style="margin: 0">
    <div class="navbar-form pull-right">
      <button class="btn btn-default" ng-click="me.add()"><i class="glyphicon glyphicon-plus-sign"></i> 添加</button>
    </div>
  </div>
  <table ng-table="me.tableParams" class="table table-striped table-hover">
    <tr ng-repeat="row in $data">
      <td title="'名称'">{{row.modelname}}</td>
      <td title="'模式类型'">{{row.modeltype}}</td>
      <td title="'预设值'">{{row.modelval}}</td>
      <td title="'预设时间'">{{row.modelsettime}}</td>
      <td title="'操作'">
        <div class="btn-group btn-group-xs">
          <button ng-if="!row.status" class="btn" ng-click="me.off(row)">
            <i class="glyphicon glyphicon-off"></i>
          </button>
          <button ng-if="row.status" class="btn btn-success" ng-click="me.off(row)">
            <i class="glyphicon glyphicon-off"></i>
          </button>

          <button class="btn btn-default" ng-click="me.edit(row)">
            <i class="glyphicon glyphicon-pencil"></i>
          </button>
          <button class="btn btn-danger" ng-click="me.drop(row)">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </table>
  <div ng-pager="me.tableParams"></div>
</div>